* { box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #f7fbfa;
  color: #7f8d8b;
}

a {
  color: #72d1ed;
}

img {
  max-width: 100%;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}


.button {
  color: #fff;
  background: rgba(29, 230, 225, 0.38);
  border-color: transparent;
  border-radius: 6.1875rem;
  transition: all .2s ease-in-out;
  min-width: 6.6875rem;
  margin-bottom: 0.25rem !important;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-transform: capitalize;

  &:hover {
    transform: translateY(-3px);
    color: #fff;
    background: rgba(29, 230, 225, 0.6);
    box-shadow: 0 4px 17px rgba(29, 230, 225, 0.35);
  }
}
