
.header__landing {
  height: 100%;
  height: 85vh;
  color: #333;
  background-image: linear-gradient(0deg, rgba(55, 255, 218, 0.12), transparent);
  background-repeat: repeat-x;
  overflow: hidden;
  position: relative;
}

.header__title {
  font-family: "brandon-grotesque", helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px;
  margin: 30px 0 60px 0;

  @media(min-width: 800px) {
    font-size: 30px;
  }
}

.header__title--alt  {
  text-align: center;
  padding: 30px;
  @media(min-width: 800px) {
    padding: 150px 50px;
  }
}

.header__title--blog  {
  text-align: center;
  padding: 30px;
  margin: 0;
  background: #fff;
  color: #333;
  @media(min-width: 800px) {
    padding: 180px 50px 130px;
  }
}

.header__beta,
.header__login {
    color: #676767;
    background: rgba(29, 230, 225, 0.21);
    border-radius: 6rem;
    transition: all .2s ease-in-out;
    min-width: 9rem;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    &:hover {
      transform: translateY(-3px);
      color: #fff;
      background: rgba(29, 230, 225, 0.6);
      box-shadow: 0 4px 17px rgba(29, 230, 225, 0.35);
    }
}

.header__call {
  text-align: center;

  @media(min-width: 800px) {
    text-align: left;
    float: left;
    width: 50%;
    padding: 30vh 0 0 150px;
    height: 100vh;
  }
}

.header__graphic {
  text-align: center;

  @media(min-width: 800px) {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
}

.header__graphic-background {
  opacity: 0.2;

  @media(min-width: 800px) {
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -30%);
    z-index: 0;
  }
}

.header__spotlight {
  display: none;

  @media(min-width: 800px) {
    display: block;
    width: 300px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.08);
    border-radius: 5px;
  }
}


.header__spotlight--a {
  transform: translate(-70%, -10%);

  @media(max-width: 800px) {
    transform: none;
    position: absolute;
    bottom: 0;
    width: 70%;
    left: 15%;
    display: block;
  }
}

.header__spotlight--b {
  transform: translate(-20%, 40%);
}

.header__spotlight--c {
  transform: translate(-85%, 60%);
}

.header__spotlight--d {
  transform: translate(-30%, -45%);
}

section {
  padding: 100px 0;
  text-align: center;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
}

.section__title {
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  font-size: 23px;
  margin-bottom: 40px;
  padding: 0 0 17px 0;
  letter-spacing: 4px;
}

.section--alt {
  color: #3f3f3f;
  background: #fff;
}
.section--offbrand {
  background: #e6fffc;
}

.section__split__container{
  background: #fff;
  padding: 0;
}
.section__content {
  max-width: 700px;
  margin: 0 auto;
}

.section__content--wide {
  max-width: 900px;
  margin: 0 auto;
}
@media(max-width: 600px) {
  .section__content {
    padding: 30px;
  }
}

.section--beta {
  padding: 50px 0;
  background-color: #e1f3fc;
  text-align: center;
}

.section__content .beta--access {
  text-align: center;
  line-height: 1;
  margin: 0;
  font-size: 18px;
}

.button {
  border: solid 1px #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
  display: inline-block;
}

.section__content p {
  margin-bottom: 20px;
}

.section--pro {
  text-align: center;
  background-color: #333;
  color: #fff;
}

.section--pro h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section--pro p {
margin-bottom: 50px;
}

.section--pro ul {
  list-style: none;
  padding: 0;
  text-align: left;
  max-width: 350px;
  margin: 0 auto 75px;
  font-size: 18px;
}
.section--pro li {
  margin-bottom: 10px;
  padding: 13px 0;
  border-bottom: dotted #d9d9d9 2px;
}

.section--pro .divider {
  margin: 30px;
}

.section--pro .button {
  border: solid 1px #e6e6e6;
  background-color: #fff;
  margin: 0;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  text-decoration: none;
}

.section--soon {
  text-align: center;
}

.section--soon .ideas {
  margin-bottom: 20px;
}


.modal {
  display: none;
}

.modal__bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.5);
  z-index: 1;

}
.modal__inner {
  font-family: "brandon-grotesque", helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  padding: 60px 30px 0;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 400px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
  z-index: 1;
}

.modal__theme-select {
  width: 100%;
}
.modal input,
.modal button {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 7px;
  text-align: left;
  border-radius: 5px;
  border: solid 1px #ccc;
  font-size: 15px;

}

.modal button  {
  color: #676767;
  background: rgba(29, 230, 225, 0.21);
  border-radius: 6rem;
  transition: all .2s ease-in-out;
  min-width: 9rem;
  margin-right: 15px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    transform: translateY(-3px);
    color: #fff;
    background: rgba(29, 230, 225, 0.6);
    box-shadow: 0 4px 17px rgba(29, 230, 225, 0.35);
  }
}

.section__explainer {
  @extend .cf;
}

.explainer__block {
  float: left;
  width: 21.333%;

  h2 {
    margin-top: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #333;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 500;
  }
}
.explainer__seperator {
  float: left;
  width: 18%;

  svg {
    width: 60px;
    opacity: 0.5;
    margin-top: 45px;
    path { fill: #1de6e1 }
  }
}
