extends layout

block content
  header
  main.landing
    h1 Finally Network
    h2 Turn your STEEM based blog into a website
    h2 Request Beta Access
    h2 Use templates

    h2 Coming soon
    h3 More templates
    h3 customisation
    h3 Add extra pages
