* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 15px 'Courier New', Helvetica, Arial, sans-serif;
  background-color: #f7fbfa;
  color: #565757;
  line-height: 1.35;
}

a {
  color: #72d1ed;
}

img {
  max-width: 100%;
  margin: 20px 0;
}

.hckr-theme {
  max-width: 650px;
  margin: 0 auto;
}

.hckr-theme h1 {
  padding: 20px 0 ;
}
.hckr-theme h2,
.hckr-theme h3,
.hckr-theme h4,
.hckr-theme h5,
.hckr-theme h6,
.hckr-theme p {
  margin: 10px 0 15px 0;
}
.hckr-theme ul,
.hckr-theme ol {
  padding: 0 20px 0;
  margin: 0 0 10px 0;
}
.hckr-theme li {
  padding: 5px 0;
  line-height: 1.3;
}

.hckr-theme hr {
  margin: 10px 0;
  border: 0;
  border-bottom: solid 1px #ccc;
}
.hckr-theme div {
  margin: 0 0 30px 0;
}


.hckr-theme div {
  margin: 0 0 30px 0;
}

.hckr-theme div {
  margin: 0 0 30px 0;
}


pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #7cbafa;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 2px solid #7cbafa;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 14px;
  max-width: 100%;
  overflow: auto;
  padding: 1px 5px;
  display: inline;
  word-wrap: break-word;
}
pre > code {
  padding: 0;
  border: none;
}
