@import url('https://fonts.googleapis.com/css?family=Lato:700');

.powered {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  border: solid 1px #ececec;
  background: #fafafa;
  box-shadow: 0 0 14px rgba(0,0,0,0.03);
  transition: all 300ms ease-in;
  animation: fadeInUp 800ms ease-in;
}
.powered:hover {
  box-shadow: 0 0 14px rgba(0,0,0,0.08);
  transform: scale(1.02);
}

.powered__link {
  display: block;
  color: #444;
  font-weight: 700;
}
.powered__logo {
  width: 28px;
  float: left;
  margin: 8px 8px;
}
.powered__tagline {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  display: inline-block;
  border-left: solid 1px #ececec;
  padding: 8px 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 28px;
}

a.powered__link:hover,
a.powered__link:active,
a.powered__link:visited,
a.powered__link:focus {
  color: #444;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);

  }
}
