@import "landing/global";

.dashboard {
  padding: 75px 15px;
  max-width: 800px;
  margin: 0 auto;
}

.dashboard__header {
  margin: 0;
  padding: 0;
  background: #fff;
  height: auto;
  border-bottom: solid 1px #ececec;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.03);

}
.dashboard__title {
  padding: 10px 15px;
  font-size: 14px;
  border-right: solid 1px #ececec;
  display: inline-block;
  float: left;
}
.dashboard__title__logo {
  width: 30px;
  float: left;
  margin-right: 5px;
}
.dashboard__title__text{
  float: left;
  line-height: 30px;
}

.dashboard__block {
  background: #fff;
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 1px;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.03);
  border: solid 1px #ececec;
  display: flex;
}

.dashboard__block--save {
  border: none;
  background: transparent;
  padding: 0;
  box-shadow: none;
}

.setting__title {
  flex: 100%;
}
.setting__items {
  flex: 50%;
}

.setting__item {
  padding: 20px;
  border-bottom: solid #ddd 1px;
  line-height: 25px;

  h3 {
    font-size: 16px;
    margin: 0;
  }
}

.setting__values {
  flex: 50%;
}

.setting__value {
  line-height: 25px;
  padding: 20px;
  border-bottom: solid #ddd 1px;
  max-height: 66px;
}

.dashboard__button {
  @extend .button;
}


.dashboard__input {
  margin-left: 5px;
  padding: 3px 10px;
  border: solid 1px #7f8d8b;
  color: #111;
  border-radius: 4px;
  line-height: 1.5;
}
.dashboard__save:hover {
  border: solid 1px #333;
  color: #333;
}
