extends layout

block content
  header.header__landing
    include partials/nav

    .header__call
      h2.header__title Turn your STEEM blog <br> into a website.
      a(href="/templates").header__login View Templates
      span.header__beta Try Now

    .header__graphic
      <svg class="header__graphic-background" id="Layer_1" x="0px" y="0px" viewBox="0 0 500 500">
        <path fill="#48FFC6" class="st0" d="M285.3,94C212.2,72.1,164.4,23.9,111,66.9C68.8,100.9,4.7,157.2,68.6 250c36.9,53.5-47.8,189.2,72.9,214.2c124.3,25.7,129.9-79.9,194.8-64.7c157.9,36.9,141.6-263.3,114.9-296.4C411.7,53.8,341.3,110.9,285.3,94z"/>
        <circle fill="#48FFC6" class="st1" cx="453.2" cy="66.6" r="11.8"/>
        <circle fill="#48FFC6" class="st1" cx="303.4" cy="62.9" r="11.8"/>
        <circle fill="#48FFC6" class="st1" cx="243.3" cy="54.9" r="5.9"/>
        <circle fill="#48FFC6" class="st1" cx="324.3" cy="26.8" r="5.9"/>
        <circle fill="#48FFC6" class="st1" cx="41.6" cy="258.9" r="11.8"/>
        <circle fill="#48FFC6" class="st1" cx="60" cy="409.2" r="11.8"/>
        <circle fill="#48FFC6" class="st1" cx="24" cy="119" r="5.9"/>
        <circle fill="#48FFC6" class="st1" cx="29.8" cy="164.1" r="5.9"/>
        <circle fill="#48FFC6" class="st1" cx="29.8" cy="229.2" r="5.9"/>
        <circle fill="#48FFC6" class="st1" cx="60" cy="435.5" r="5.9"/>
        <circle fill="#48FFC6" class="st1" cx="468.4" cy="359.8" r="11.8"/>
      </svg>

      img(src="/img/browser-campfire.png").header__spotlight.header__spotlight--c
      img(src="/img/browser-critday.png").header__spotlight.header__spotlight--d
      img(src="/img/browser-hckr.png").header__spotlight.header__spotlight--b
      img(src="/img/browser-lens.png").header__spotlight.header__spotlight--a


  main.landing
    section.section--alt
      .section__content
        h2.section__title What is Finally?
        p Finally is a website builder for the Steem Blockchain.

        p Finally helps showcase creators content from STEEM based platforms - Steemit, Busy, D.tube, Steepshot, Utopian, Steemhunt plus many others). Instantly change the look and feel of your content with one of the avalible themes.

    section
      .section__content
        h2.section__title How it works
        .section__explainer
          .explainer__block
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><style>.st27{fill:#1de6e1; stroke-width: 0.5px; stroke:#1de6e1;}</style><g id="Layer_1"><path class="st27" d="M49 45.9c0 .3.2.5.5.5s.5-.3.5-.5c0-.3-.2-.5-.5-.5-.2-.1-.5.1-.5.5zM49 47.9c0 .3.2.5.5.5s.5-.3.5-.5c0-.3-.2-.5-.5-.5-.2-.1-.5.1-.5.5zM49.5 44.4c.3 0 .5-.2.5-.5s-.2-.5-.5-.5-.5.2-.5.5.3.5.5.5zM17.7 65.2l-6.2-4.3c-.2-.1-.4-.1-.6 0l-6.2 4.3c-.2.1-.2.3-.2.4v6.7c0 .2.1.3.2.4l6.2 4.3c.1.1.2.1.3.1s.2 0 .3-.1l6.2-4.3c.1-.1.2-.2.2-.4v-6.7s0-.2-.2-.4zm-6.5-3.3l5.4 3.7-5.4 3.7-5.4-3.7 5.4-3.7zm-5.8 4.7l5.2 3.6v5.5l-5.2-3.6v-5.5zm6.3 9.1v-5.5l5.2-3.6v5.5l-5.2 3.6z"/><circle class="st27" cx="11.2" cy="84.1" r=".5"/><circle class="st27" cx="11.2" cy="82.1" r=".5"/><circle class="st27" cx="11.2" cy="86" r=".5"/><circle class="st27" cx="11.2" cy="88" r=".5"/><circle class="st27" cx="13.3" cy="88" r=".5"/><circle class="st27" cx="15.3" cy="88" r=".5"/><circle class="st27" cx="17.4" cy="88" r=".5"/><circle class="st27" cx="19.4" cy="88" r=".5"/><circle class="st27" cx="49.6" cy="84" r=".5"/><circle class="st27" cx="49.6" cy="82" r=".5"/><circle class="st27" cx="49.6" cy="86" r=".5"/><circle class="st27" cx="49.6" cy="88" r=".5"/><circle class="st27" cx="47.5" cy="88" r=".5"/><circle class="st27" cx="45.5" cy="88" r=".5"/><circle class="st27" cx="43.4" cy="88" r=".5"/><circle class="st27" cx="41.4" cy="88" r=".5"/><g><circle class="st27" cx="11.2" cy="53.8" r=".5"/><circle class="st27" cx="11.2" cy="55.8" r=".5"/><circle class="st27" cx="11.2" cy="51.8" r=".5"/><circle class="st27" cx="11.2" cy="49.8" r=".5"/><circle class="st27" cx="13.3" cy="49.8" r=".5"/><circle class="st27" cx="15.3" cy="49.8" r=".5"/><circle class="st27" cx="17.4" cy="49.8" r=".5"/><circle class="st27" cx="19.4" cy="49.8" r=".5"/><g><circle class="st27" cx="49.6" cy="53.9" r=".5"/><circle class="st27" cx="49.6" cy="55.8" r=".5"/><circle class="st27" cx="49.6" cy="51.9" r=".5"/><circle class="st27" cx="49.5" cy="49.9" r=".5"/><circle class="st27" cx="47.5" cy="49.9" r=".5"/><circle class="st27" cx="45.4" cy="49.9" r=".5"/><circle class="st27" cx="43.4" cy="49.9" r=".5"/><circle class="st27" cx="41.4" cy="49.9" r=".5"/></g></g><g><circle class="st27" cx="49.5" cy="45.9" r=".5"/><circle class="st27" cx="49.5" cy="43.9" r=".5"/><circle class="st27" cx="49.5" cy="47.9" r=".5"/><circle class="st27" cx="51.6" cy="49.9" r=".5"/><circle class="st27" cx="53.6" cy="49.9" r=".5"/><circle class="st27" cx="55.7" cy="49.9" r=".5"/><circle class="st27" cx="57.7" cy="49.9" r=".5"/><g><circle class="st27" cx="87.9" cy="45.9" r=".5"/><circle class="st27" cx="87.9" cy="43.9" r=".5"/><circle class="st27" cx="87.9" cy="47.8" r=".5"/><circle class="st27" cx="87.9" cy="49.8" r=".5"/><circle class="st27" cx="85.8" cy="49.8" r=".5"/><circle class="st27" cx="83.8" cy="49.8" r=".5"/><circle class="st27" cx="81.7" cy="49.8" r=".5"/><circle class="st27" cx="79.7" cy="49.8" r=".5"/></g></g><g><circle class="st27" cx="49.5" cy="15.7" r=".5"/><circle class="st27" cx="49.5" cy="17.7" r=".5"/><circle class="st27" cx="49.5" cy="13.7" r=".5"/><circle class="st27" cx="49.5" cy="11.7" r=".5"/><circle class="st27" cx="51.6" cy="11.7" r=".5"/><circle class="st27" cx="53.6" cy="11.7" r=".5"/><circle class="st27" cx="55.7" cy="11.7" r=".5"/><circle class="st27" cx="57.7" cy="11.7" r=".5"/><g><circle class="st27" cx="87.9" cy="15.7" r=".5"/><circle class="st27" cx="87.8" cy="17.7" r=".5"/><circle class="st27" cx="87.8" cy="13.8" r=".5"/><circle class="st27" cx="87.8" cy="11.8" r=".5"/><circle class="st27" cx="85.8" cy="11.8" r=".5"/><circle class="st27" cx="83.7" cy="11.8" r=".5"/><circle class="st27" cx="81.7" cy="11.8" r=".5"/><circle class="st27" cx="79.7" cy="11.8" r=".5"/></g></g><path class="st27" d="M37.2 45.9L31 41.6c-.2-.1-.4-.1-.6 0l-6.2 4.3c-.2.1-.2.3-.2.4V53c0 .2.1.3.2.4l6.2 4.3c.1.1.2.1.3.1s.2 0 .3-.1l6.2-4.3c.1-.1.2-.2.2-.4v-6.7c0-.1 0-.3-.2-.4zm-6.5-3.3l5.4 3.7-5.4 3.7-5.4-3.7 5.4-3.7zM25 47.3l5.2 3.6v5.5L25 52.7v-5.4zm6.2 9.1v-5.5l5.2-3.6v5.5l-5.2 3.6zM56.2 65.2L50 60.9c-.2-.1-.4-.1-.6 0l-6.2 4.3c-.2.1-.2.3-.2.4v6.7c0 .2.1.3.2.4l6.2 4.3c.1.1.2.1.3.1s.2 0 .3-.1l6.2-4.3c.1-.1.2-.2.2-.4v-6.7s0-.2-.2-.4zm-6.6-3.3l5.4 3.7-5.4 3.7-5.4-3.7 5.4-3.7zm-5.7 4.7l5.2 3.6v5.5l-5.2-3.6v-5.5zm6.2 9.1v-5.5l5.2-3.6v5.5l-5.2 3.6zM31 96.4l6.2-4.3c.1-.1.2-.2.2-.4V85c0-.1 0-.3-.2-.4L31 80.2c-.2-.1-.4-.1-.6 0l-6.2 4.3c-.2.2-.2.4-.2.5v6.7c0 .2.1.3.2.4l6.2 4.3"/><path class="st27" d="M30.7 81.3l5.4 3.7-5.4 3.7-5.4-3.7zM25 85.9l5.2 3.6V95L25 91.4zM31.2 95v-5.5l5.2-3.6v5.5zM75.5 46.4L69.3 42c-.2-.1-.4-.1-.6 0l-6.2 4.3c-.2.1-.2.3-.2.4v6.7c0 .2.1.3.2.4l6.2 4.3c.1.1.2.1.3.1s.2 0 .3-.1l6.2-4.3c.1-.1.2-.2.2-.4v-6.7s0-.2-.2-.3zM69 43.1l5.4 3.7-5.4 3.7-5.4-3.7 5.4-3.7zm-5.8 4.6l5.2 3.6v5.5l-5.2-3.6v-5.5zm6.3 9.2v-5.5l5.2-3.6v5.5l-5.2 3.6zM56 27l-6.2-4.3c-.2-.1-.4-.1-.6 0L42.9 27c-.2.1-.2.3-.2.4v6.7c0 .2.1.3.2.4l6.2 4.3c.1.1.2.1.3.1s.2 0 .3-.1l6.2-4.3c.1-.1.2-.2.2-.4v-6.7c.1 0 .1-.2-.1-.4zm-6.5-3.3l5.4 3.7-5.4 3.7-5.4-3.7 5.4-3.7zm-5.8 4.7L49 32v5.5l-5.2-3.6-.1-5.5zm6.3 9.1V32l5.2-3.6v5.5L50 37.5zM94.5 27l-6.2-4.3c-.2-.1-.4-.1-.6 0L81.4 27c-.2.1-.2.3-.2.4v6.7c0 .2.1.3.2.4l6.2 4.3c.1.1.2.1.3.1.1 0 .2 0 .3-.1l6.2-4.3c.1-.1.2-.2.2-.4v-6.7c.1 0 .1-.2-.1-.4zm-6.6-3.3l5.4 3.7-5.4 3.7-5.4-3.7 5.4-3.7zm-5.7 4.7l5.2 3.6v5.5l-5.2-3.6v-5.5zm6.2 9.1V32l5.2-3.6v5.5l-5.2 3.6zM75.5 7.7l-6.2-4.3c-.2-.1-.4-.1-.6 0l-6.2 4.3c-.2.1-.2.3-.2.4v6.7c0 .2.1.3.2.4l6.2 4.3c.1.1.2.1.3.1.1 0 .2 0 .3-.1l6.2-4.3c.1-.1.2-.2.2-.4V8.1c0-.1 0-.3-.2-.4zM69 4.4l5.4 3.7-5.4 3.7-5.4-3.7L69 4.4zm-5.8 4.7l5.2 3.6v5.5l-5.2-3.6V9.1zm6.3 9.1v-5.5l5.2-3.6v5.5l-5.2 3.6z"/></g></svg>
              h2 Finally connects directly to the STEEM blockchain
          .explainer__seperator
              <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 100 100"><path d="M34.6 19.1c.3 0 .5.1.7.3l30.9 30c.4.4.3 1-.1 1.4-.4.3-.9.3-1.3 0l-30.9-30c-.4-.4-.4-1 0-1.4.1-.2.4-.4.7-.3z" class="st0"/><path d="M65.4 49.1c.6 0 1 .4 1 1 0 .3-.1.5-.3.7l-30.9 30c-.4.4-1.1.3-1.4-.1-.3-.4-.3-.9 0-1.3l30.9-30c.2-.2.5-.3.7-.3z" class="st0"/></svg>
          .explainer__block
            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 100 100"><style>.st0{fill:#1de6e1}</style><path d="M17.5 28.2c3.3 0 6-2.7 6-6s-2.7-6-6-6-6 2.7-6 6 2.7 6 6 6zm0-9.4c1.9 0 3.4 1.5 3.4 3.4s-1.5 3.4-3.4 3.4-3.4-1.5-3.4-3.4 1.5-3.4 3.4-3.4zM26.2 29.5c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4-1.5-3.4-3.4-3.4zm0 4.1c-.4 0-.7-.3-.7-.7 0-.4.3-.7.7-.7.4 0 .7.3.7.7 0 .4-.3.7-.7.7zM83.2 28.2c3.3 0 6-2.7 6-6s-2.7-6-6-6-6 2.7-6 6 2.7 6 6 6zm0-9.4c1.9 0 3.4 1.5 3.4 3.4s-1.5 3.4-3.4 3.4-3.4-1.5-3.4-3.4c.1-1.9 1.6-3.4 3.4-3.4zM74.5 36.3c1.9 0 3.4-1.5 3.4-3.4s-1.5-3.4-3.4-3.4-3.4 1.5-3.4 3.4c0 1.8 1.5 3.4 3.4 3.4zm0-4.1c.4 0 .7.3.7.7 0 .4-.3.7-.7.7s-.7-.3-.7-.7c0-.4.3-.7.7-.7zM17.5 73.8c-3.3 0-6 2.7-6 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 9.4c-1.9 0-3.4-1.5-3.4-3.4s1.5-3.4 3.4-3.4 3.4 1.5 3.4 3.4-1.5 3.4-3.4 3.4zM26.2 65.7c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4c0-1.8-1.5-3.4-3.4-3.4zm0 4.1c-.4 0-.7-.3-.7-.7s.3-.7.7-.7c.4 0 .7.3.7.7s-.3.7-.7.7zM83.2 73.8c-3.3 0-6 2.7-6 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 9.4c-1.9 0-3.4-1.5-3.4-3.4s1.5-3.4 3.4-3.4 3.4 1.5 3.4 3.4-1.5 3.4-3.4 3.4zM74.5 65.7c-1.9 0-3.4 1.5-3.4 3.4s1.5 3.4 3.4 3.4 3.4-1.5 3.4-3.4c-.1-1.8-1.6-3.4-3.4-3.4zm0 4.1c-.4 0-.7-.3-.7-.7s.3-.7.7-.7.7.3.7.7-.3.7-.7.7zM16.8 57.7c.5 0 1-.1 1.4-.3l6.6-3.7c.8-.5 1.4-1.4 1.4-2.4V44c0-1-.6-1.9-1.4-2.4l-6.6-3.7c-.9-.4-1.9-.4-2.8 0l-6.6 3.7C8 42.1 7.5 43 7.4 44v7.3c0 1 .6 1.9 1.4 2.4l6.6 3.7c.5.2.9.3 1.4.3zm-6.7-6.4V44v-.1l6.6-3.7h.2l6.6 3.6.1.1V51.3L16.9 55h-.2l-6.6-3.7z" class="st0"/><path d="M19.5 47.2c.7 0 1.3-.6 1.4-1.3 0-.5-.3-.9-.7-1.2l-2.8-1.6c-.4-.2-.9-.2-1.3 0l-2.6 1.4c-.6.4-.9 1.2-.5 1.8.4.6 1.2.9 1.8.5l1.9-1.1 2.1 1.2c.2.3.5.3.7.3zM91.8 41.6l-6.6-3.7c-.9-.4-1.9-.4-2.8 0l-6.6 3.7c-.8.5-1.4 1.4-1.4 2.4v7.3c0 1 .6 1.9 1.4 2.4l6.6 3.7c.9.4 1.9.4 2.8 0l6.6-3.7c.8-.5 1.4-1.4 1.4-2.4V44c0-1-.5-1.9-1.4-2.4zm-1.3 9.8L84 55h-.2l-6.6-3.6-.1-.1V44v-.1l6.6-3.7h.2l6.6 3.6.1.1v7.3l-.1.2z" class="st0"/><path d="M87.2 44.7l-2.8-1.6c-.4-.2-.9-.2-1.3 0l-2.6 1.4c-.6.4-.9 1.2-.5 1.8.4.6 1.2.9 1.8.5l1.9-1.1 2.1 1.2c.6.4 1.5.1 1.8-.5.5-.5.3-1.3-.4-1.7zM37.5 40.3l2.7 1.5v-.4c0-.8.2-1.7.5-2.4l-1.8-1c-.3-.2-.5-.5-.6-.9V24.7c.1-.4.2-.7.5-.9l11-6.2c.4-.1.7-.1 1.1 0l11 6.2c.3.2.5.5.5.9v12.4c-.1.4-.2.7-.5.9l-8.5 4.8v1.3c.7.1 1.3.4 1.9.7l8-4.6c1.1-.7 1.8-1.9 1.9-3.2V24.7c0-1.3-.8-2.5-1.9-3.2l-11-6.2c-1.2-.6-2.6-.6-3.7 0l-11 6.2c-1.1.7-1.8 1.9-1.9 3.2v12.4c0 1.3.7 2.5 1.8 3.2z" class="st0"/><path d="M66.4 64.9v-.2-9c0-2.2-1.8-3.9-3.9-3.9-.5 0-1.1.1-1.6.3-.5-1.7-2-2.9-3.8-2.9-.5 0-.9.1-1.3.2-.5-1.7-2-2.9-3.8-2.9-.5 0-.9.1-1.3.2v-5.4c0-1-.4-2-1.1-2.8-.7-.7-1.8-1.1-2.8-1.1-1 0-2 .4-2.8 1.1-.7.7-1.2 1.7-1.2 2.7l-.1 16c-.9-1.2-2-2.1-3.4-2.7-1-.4-2.1-.3-3.1.1-.9.3-1.5 1-1.9 1.8-.7 1.8 0 4.2 2.2 7.4l6.2 10.9h-.6c-.7 0-1.3.6-1.3 1.3v9.4c0 .7.6 1.3 1.3 1.3s1.3-.6 1.3-1.3v-8h20.1v8c0 .7.6 1.3 1.3 1.3s1.3-.6 1.3-1.3V76c0-.7-.6-1.3-1.3-1.3h.2c.7-2.9 1.2-6.3 1.4-9.8 0 .1 0 0 0 0zM46 75.1l-7-12.3v-.1c-2.2-3.3-2-4.6-1.9-5 0-.1.1-.2.2-.3.1 0 .2 0 .3-.1.3-.2.7-.2 1-.1 1.7.6 3.5 3.7 4.3 5.5v.1c0 .1.1.1.1.2l.1.1.1.1.1.1.1.1h.1l.1.1H44.4c.1 0 .2 0 .2-.1.1 0 .1-.1.2-.1l.1-.1.1-.1.1-.1.1-.1s0-.1.1-.1c0 0 0-.1.1-.1v-.1-.1-.2-.1l.1-20.8c0-.3.1-.6.4-.8.5-.5 1.3-.5 1.8 0 .2.2.4.5.3.8l-.1 20.9c0 .7.6 1.3 1.3 1.3.8 0 1.4-.7 1.4-1.4V50.5c0-.7.6-1.2 1.2-1.2.7 0 1.2.5 1.2 1.2V62.3c0 .7.6 1.3 1.3 1.3.7 0 1.3-.6 1.3-1.3v-.7V53c.1-.6.6-1.1 1.2-1.1.7-.1 1.3.4 1.4 1V62.2c.1.8.7 1.4 1.5 1.4.7 0 1.3-.6 1.3-1.3v-6.6c0-.7.6-1.2 1.2-1.2.7 0 1.3.5 1.3 1.2v8.9c-.2 3.5-.7 7.1-1.5 10.5H46z" class="st0"/><circle cx="53.7" cy="83.2" r="1.3" class="st0"/><path d="M45.7 31.6v2.3c0 .7.6 1.3 1.3 1.3.7 0 1.3-.6 1.3-1.3v-2.3c0-.7-.6-1.3-1.3-1.3-.7-.1-1.3.5-1.3 1.3zM51.4 36.9c.4 0 .8-.2 1-.5l1.6-1.9c.5-.5.6-1.4.1-1.9s-1.4-.6-1.9-.1l-.2.2-1.6 1.9c-.5.6-.4 1.4.1 1.9.3.3.6.4.9.4zM42 32.8c-.4-.6-1.3-.8-1.9-.3-.6.4-.8 1.3-.3 1.9.1.1.1.2.2.2l1.6 1.9c.5.5 1.4.5 1.9-.1.4-.5.5-1.2.1-1.7L42 32.8zM55 26.3c.7.3 1.5.1 1.8-.6.3-.6.1-1.4-.5-1.8l-5.2-3c-.4-.2-.9-.2-1.3 0l-5.5 3.4c-.7.3-.9 1.1-.6 1.8.3.7 1.1.9 1.8.6.1 0 .1-.1.2-.1l4.9-2.9 4.4 2.6z" class="st0"/></svg>
            h2 You choose a theme and customise settings
          .explainer__seperator
            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 100 100"><path d="M34.6 19.1c.3 0 .5.1.7.3l30.9 30c.4.4.3 1-.1 1.4-.4.3-.9.3-1.3 0l-30.9-30c-.4-.4-.4-1 0-1.4.1-.2.4-.4.7-.3z" class="st0"/><path d="M65.4 49.1c.6 0 1 .4 1 1 0 .3-.1.5-.3.7l-30.9 30c-.4.4-1.1.3-1.4-.1-.3-.4-.3-.9 0-1.3l30.9-30c.2-.2.5-.3.7-.3z" class="st0"/></svg>
          .explainer__block
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M12 17c-2.8 0-5 2.2-5 5v56c0 2.8 2.2 5 5 5h76c2.8 0 5-2.2 5-5V22c0-2.8-2.2-5-5-5H12zm0 2h76c1.7 0 3 1.3 3 3v9H9v-9c0-1.7 1.3-3 3-3zm4 3c-1.6 0-3 1.4-3 3s1.4 3 3 3 3-1.4 3-3-1.4-3-3-3zm9 0c-1.6 0-3 1.4-3 3s1.4 3 3 3 3-1.4 3-3-1.4-3-3-3zm9 0c-1.6 0-3 1.4-3 3s1.4 3 3 3 3-1.4 3-3-1.4-3-3-3zm-18 2c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1zm9 0c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1zm9 0c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1zM9 33h82v45c0 1.7-1.3 3-3 3H12c-1.7 0-3-1.3-3-3V33zm6.8 6c-.5.1-.8.5-.8 1v34c0 .6.4 1 1 1h40c.6 0 1-.4 1-1V40c0-.6-.4-1-1-1H16h-.2c.1 0 0 0 0 0zm48 0c-.5.1-.8.5-.8 1v13c0 .6.4 1 1 1h20c.6 0 1-.4 1-1V40c0-.5-.4-1-.9-1H63.8zM17 41h38v32H17V41zm48 0h18v11H65V41zm-1.2 18c-.6.1-1 .5-.9 1.1s.5 1 1.1.9h20c.6 0 1-.4 1-1s-.4-1-1-1H64h-.2c.1 0 0 0 0 0zm0 7c-.6.1-1 .5-.9 1.1s.5 1 1.1.9h20c.6 0 1-.4 1-1s-.4-1-1-1H64h-.2c.1 0 0 0 0 0zm0 7c-.6.1-1 .5-.9 1.1s.5 1 1.1.9h20c.6 0 1-.4 1-1s-.4-1-1-1H64h-.2c.1 0 0 0 0 0z" fill="#1de6e1"/></svg>
            h2 View and share online at finally.network/@username.

    section.section--alt
      .section__content.section__content--wide
        h2.section__title Latest News
        .landing__news: ul


    section.section--offbrand
      .section__content.section__content--wide.cf
          div
            h2.section__title Templates
          div.template__example
            img(src="/img/browser-lens.png")
            h3 Lens
          div.template__example
            img(src="/img/browser-critday.png")
            h3 Critday
          div.template__example
            img(src="/img/browser-campfire.png")
            h3 Campfire
          div.template__example
            img(src="/img/browser-make.png")
            h3 Make
          div.template__example
            img(src="/img/browser-hckr.png")
            h3 HCKR
          div.template__example
            img(src="/img/browser-mock.png")
            h3 Coming soon...

    include partials/footer

    .modal
      .modal__bg
      .modal__inner
        h2 Beta Access
        input(type="text" placeholder="username").username
        select.modal__theme-select
          option(value="lens") Lens
          option(value="hckr") HCKR
          option(value="campfire") Campfire
          option(value="make") Make

        button.submit Continue
