doctype html
html
  head
    title= title
    if theme
      if theme == 'campfire'
        link(rel='stylesheet', href=`/css/bootstrap.min.css`)
      link(rel='stylesheet', href=`/css/${theme}-theme.css`)
      link(rel='stylesheet', href=`/css/beta.css`)
    else
      link(rel="stylesheet" href="https://use.typekit.net/iqb0qug.css")
      link(rel='stylesheet', href=`/css/main.css`)

  body
    block content
    if theme
      script(src=`/${theme}-theme.js`)
      script(src="/beta.js")
    else
      script(src="/main.js")
